@model List<Collection>

@{
    ViewData["Title"] = "Всички колекции";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Описание</th>
            <th>Епоха</th>
            <th>Локация</th>
            <th>Брой на експонати</th>
            @if (User.IsInRole("Administrator") || User.IsInRole("Science Associate"))
            {
                <th>Действия</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var collection in Model)
        {
            <tr>
                <td>@collection.Name</td>
                <td>@collection.Description</td>
                <td>@collection.Era?.Name</td>
                <td>@collection.Location?.Name</td>
                <td>@collection.Exhibits.Count</td>
                @if (User.IsInRole("Administrator") || User.IsInRole("Science Associate"))
                {
                    <td>
                        <a href="@Url.Action("EditCollectionById", "Associate", new { collectionId = collection.Id })" class="btn btn-primary btn-sm">Редактирай</a>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="@Url.Action("Delete", "", new { id = collection.Id })" class="btn btn-danger btn-sm">Изтрий</a>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
