@model PaginatedList<ApplicationUser>

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Всички потребители" />
    <meta name="author" content="Your Name" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Administrator/SeeAllUsers.css" rel="stylesheet" />
</head>
<body>
    <div class="view-container">

        <h1>@ViewData["Title"]</h1>

        <!-- Search Form -->
        <form method="get" action="@Url.Action("SeeAllUsers", "Administrator")" class="mb-3">
            <div class="input-group">
                <input type="text" name="searchTerm" value="@ViewData["SearchTerm"]" class="form-control" placeholder="Търсене по име или фамилия">
                <input type="hidden" name="pageSize" value="@Model.PageSize">
                <input type="hidden" name="sortBy" value="@ViewData["SortBy"]">
                <input type="hidden" name="ascending" value="@ViewData["SortOrder"]">
                <button type="submit" class="btn btn-primary cta-button">Търси</button>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-nowrap">
                        <a href="@Url.Action("SeeAllUsers", new { page = 1, pageSize = Model.PageSize, sortBy = "FirstName", ascending = ViewData["SortOrderFirstName"] as bool? ?? true, searchTerm = ViewData["SearchTerm"] })">
                            Първо име
                        </a>
                    </th>
                    <th>
                        <a href="@Url.Action("SeeAllUsers", new { page = 1, pageSize = Model.PageSize, sortBy = "LastName", ascending = ViewData["SortOrderLastName"] as bool? ?? true, searchTerm = ViewData["SearchTerm"] })">
                            Фамилия
                        </a>
                    </th>
                    <th>Имейл</th>
                    <th>Степен на образование</th>
                    <th>Специалност</th>
                    <th>Град</th>
                    <th>Адрес</th>
                    <th>
                        <a href="@Url.Action("SeeAllUsers", new {
                            page = 1,
                            pageSize = Model.PageSize,
                            sortBy = "Position",
                            ascending = ViewData["SortBy"]?.ToString() == "Position" ? !(ViewData["SortOrder"] as bool? ?? true) : true,
                            searchTerm = ViewData["SearchTerm"]
                        })">
                            Позиция
                        </a>
                    </th>

                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Degree</td>
                        <td>@user.Specialty</td>
                        <td>@user.City</td>
                        <td>@user.Adress</td>
                        <td>@user.Position</td>
                        <td>
                            <a href="@Url.Action("EditUserById", "Administrator", new { userId = user.Id })" class="btn btn-warning btn-sm mb-3">Промени</a>
                            <a href="@Url.Action("DeleteUserById", "Administrator", new { userId = user.Id })" class="btn btn-danger btn-sm">Изтрий</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            @if (Model.HasPreviousPage)
            {
                <a href="@Url.Action("SeeAllUsers", "Administrator",
                new { page = Model.CurrentPage - 1, pageSize = Model.PageSize, sortBy = ViewData["SortBy"], ascending = ViewData["SortOrder"], searchTerm = ViewData["SearchTerm"] })" 
                class="btn btn-primary btn-sm cta-button">Назад</a>
            }

            @if (Model.HasNextPage)
            {
                <a href="@Url.Action("SeeAllUsers", "Administrator", 
                new { page = Model.CurrentPage + 1, pageSize = Model.PageSize, sortBy = ViewData["SortBy"], ascending = ViewData["SortOrder"], searchTerm = ViewData["SearchTerm"] })" 
                class="btn btn-primary btn-sm cta-button">Напред</a>
            }
        </div>

        <div>
            <p>Страница @Model.CurrentPage от @Model.TotalPages</p>
        </div>
    </div>

    <!-- Scripts section -->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
